
.idea/Django_task2.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
django_netology/app/__pycache__/__init__.cpython-38.pyc
django_netology/app/__pycache__/admin.cpython-38.pyc
django_netology/app/__pycache__/apps.cpython-38.pyc
django_netology/app/__pycache__/models.cpython-38.pyc
django_netology/app/__pycache__/views.cpython-38.pyc
django_netology/app/__init__.py
django_netology/app/admin.py
django_netology/app/apps.py
django_netology/app/migrations/__init__.py
django_netology/app/migrations/__pycache__/__init__.cpython-38.pyc
django_netology/app/models.py
django_netology/app/tests.py
django_netology/db.sqlite3
django_netology/django_netology/__init__.py
django_netology/django_netology/__pycache__/__init__.cpython-38.pyc
django_netology/django_netology/__pycache__/settings.cpython-38.pyc
django_netology/django_netology/__pycache__/urls.cpython-38.pyc
django_netology/django_netology/__pycache__/wsgi.cpython-38.pyc
django_netology/django_netology/asgi.py
django_netology/django_netology/wsgi.py
main.py
